$white: #fff;
$light-gray: #acacac;
$black: #000;
$bg-color: #ccc;
$dark-bg-color: #2c2b29;
$dark-alpha: #627051;
$main-color: #6a913d;
$main-lighter: #52A83E;

$border-radius: 10px;
$default-space: 20px;
$max-board-width: 650px;
$max-width: 1535px;

$transition-all: all 0.3s;

